.draggable {
  padding:10px 25px;
  text-align: center;
  cursor: move;
  margin-top: 20px;
}

#module {
  background: lightgoldenrodyellow;
}
#learning {
  background: lightgreen;
}
#quiz {
  background: pink;
}

.navbar {
  margin-bottom: 0;
}

#properties label.required:before {
  content: "* ";
  color: red;
}

label {
  font-weight: normal;
}
